@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('truetype')
}

$mainBlackColor:#19142A;
$mainRedColor: #ff4242;
$mainPurpleColor: #2A2344;
$mainWhiteColor: #ffffff;
body {
    position: relative;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
}

.scrollToTop {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 2;
    background-color: $mainRedColor;
    color: $mainWhiteColor;
    border-radius: 50%;
    border: 0.26vw solid $mainWhiteColor;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: $mainBlackColor;
        svg {
            stroke: $mainRedColor;
        }
    }
}

.mainBlackBg {
    background-color: $mainBlackColor;
}

.mainRedBg {
    background-color: $mainRedColor;
}

.mainRedText {
    color: $mainRedColor;
}

.mainPurpleBg {
    background-color: $mainPurpleColor
}

.top-line {
    .mainRedBg {
        border-radius: 10px;
    }
    li {
        a {
            font-weight: bold;
            font-size: 1.3vw;
            cursor: pointer;
        }
    }
    .nav {
        margin-right: 5%;
    }
    .offcanvas-body {
        .mainRedBg {
            width: fit-content;
        }
    }
}

.mainPage {
    position: relative;
    display: flex;
    flex-direction: column;
    .mainRedBg {
        background-color: rgba(255, 66, 66, 0.2);
        border-radius: 21px;
    }
    .myName {
        color: $mainWhiteColor;
        width: fit-content;
        font-size: 2.5vw;
        font-weight: bold;
        padding: 0 1% 0 1%;
        margin-left: 5%;
    }
    .whoAmI {
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a {
            color: $mainRedColor;
            font-weight: bold;
            font-size: 5vw;
            text-align: center;
            text-decoration: underline;
            text-decoration-thickness: 0.1vw;
            cursor: pointer;
            &:hover {
                color: $mainWhiteColor;
            }
        }
        img {
            width: 30%;
        }
        .designer {
            color: transparent;
            -webkit-text-stroke: 3px $mainRedColor;
            &:hover {
                color: $mainWhiteColor;
                -webkit-text-stroke: 3px $mainWhiteColor;
            }
        }
    }
}

.aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section {
        display: flex;
        flex-direction: row;
        gap: 25vw;
        align-items: center;
        margin-bottom: 2vw;
    }
    p {
        font-size: 2vw;
        color: $mainWhiteColor;
        width: 42vw;
    }
    .square-with-text {
        width: 11vw;
        height: 11vw;
        border-radius: 20px;
        background-color: $mainRedColor;
        display: flex;
        text-align: center;
        align-items: center;
        p {
            color: $mainWhiteColor;
            font-size: 1.5vw;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            margin: 0;
        }
    }
}

.experience {
    position: relative;
    margin: 0;
    .job {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin line-styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin block-styles {
    flex-basis: 0;
    border-left: 0.26vw solid $mainWhiteColor;
    border-right: 0.26vw solid $mainWhiteColor;
}

.devSkills {
    position: relative;
    padding-bottom: 10vw;
    .skills {
        p {
            text-align: center;
            color: $mainWhiteColor;
            font-size: 3vw;
            margin: 0;
        }
        display: flex;
        flex-direction: column;
        @mixin line($border-top: false,
        $border-bottom: false) {
            @include line-styles;
            @if $border-top {
                border-top: 0.26vw solid $mainWhiteColor;
            }
            @if $border-bottom {
                border-bottom: 0.26vw solid $mainWhiteColor;
            }
        }
        @mixin block {
            @include block-styles;
        }
        .line1 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 20%;
            }
            .second {
                @include block;
                flex-basis: 50%;
            }
            .third {
                flex-basis: 30%;
            }
        }
        .line2 {
            @include line;
            .first {
                flex-basis: 40%;
            }
            .second {
                @include block;
                flex-basis: 50%;
            }
            .third {
                flex-basis: 10%;
            }
        }
        .line3 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 30%;
            }
            .second {
                @include block;
                flex-basis: 20%;
            }
            .third {
                flex-basis: 50%;
            }
        }
        .line4 {
            @include line($border-bottom: true);
            .first {
                flex-basis: 50%;
            }
            .third {
                @include block;
                flex-basis: 50%;
                border-right: none;
            }
        }
    }
}

.devProjects {
    position: relative;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    .card {
        width: 43vw;
        border: 0.26vw solid $mainWhiteColor;
        border-radius: 0;
        background-color: inherit;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        .image-container {
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
        }
        .text-container {
            border-top: 0.26vw solid $mainWhiteColor;
            p {
                color: $mainWhiteColor;
                margin: 0;
                font-size: 1.56vw;
            }
            .tools {
                font-weight: lighter;
            }
        }
    }
}

.designerSkills {
    position: relative;
    padding-bottom: 10vw;
    .skills {
        p {
            text-align: center;
            color: $mainWhiteColor;
            font-size: 3vw;
            margin: 0;
        }
        display: flex;
        flex-direction: column;
        @mixin line($border-top: false,
        $border-bottom: false) {
            @include line-styles;
            @if $border-top {
                border-top: 0.26vw solid $mainWhiteColor;
            }
            @if $border-bottom {
                border-bottom: 0.26vw solid $mainWhiteColor;
            }
        }
        @mixin block {
            @include block-styles;
        }
        .line1 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 30%;
            }
            .second {
                @include block;
                flex-basis: 30%;
            }
            .third {
                flex-basis: 40%;
            }
        }
        .line2 {
            @include line;
            .first {
                flex-basis: 40%;
            }
            .second {
                @include block;
                flex-basis: 40%;
            }
            .third {
                flex-basis: 20%;
            }
        }
        .line3 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 20%;
            }
            .second {
                @include block;
                flex-basis: 40%;
            }
            .third {
                flex-basis: 40%;
            }
        }
        .line4 {
            @include line($border-bottom: true);
            .first {
                flex-basis: 50%;
            }
            .third {
                @include block;
                flex-basis: 50%;
                border-right: none;
            }
        }
    }
}

.designerProjects {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 2vw;
    padding-bottom: 5vw;
    img {
        width: 20vw;
        max-width: 100%;
    }
    .column {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 4.5vw;
        img {
            width: 40vw;
            max-width: 90%;
        }
        button {
            background-color: inherit;
            color: $mainRedColor;
            font-size: 2vw;
            font-weight: bold;
            padding: 13.5px 47px;
            border-radius: 32px;
            border: 7px solid $mainRedColor;
            width: fit-content;
            cursor: pointer;
        }
        button:hover {
            color: $mainWhiteColor;
            border-color: $mainWhiteColor;
        }
    }
}

.contactMe {
    position: relative;
    display: flex;
    flex-direction: row;
    color: $mainWhiteColor;
    justify-content: center;
    margin: 0;
    gap: 5vw;
    padding-top: 7vw;
    padding-bottom: 2vw;
    .contacts {
        display: flex;
        flex-direction: column;
        font-size: 1.5vw;
        .titletext {
            font-size: 4.15vw;
            font-weight: bold;
        }
        .subtitle {
            color: #ADADAD;
            width: 27vw;
        }
        .type {
            display: flex;
            flex-direction: column;
            a {
                font-weight: lighter;
                margin-bottom: 3vw;
                color: $mainWhiteColor;
                text-decoration: none;
            }
            img {
                width: 3.48vw;
                margin-right: 1vw;
            }
        }
    }
    .leaveMessage {
        .titletext {
            font-size: 4.15vw;
            font-weight: bold;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 2vw;
            .input-field {
                background-color: inherit;
                color: $mainWhiteColor;
                border: 0.26vw solid $mainWhiteColor;
                border-radius: 1vw;
                font-size: 1.5vw;
                padding: 0.5vw;
            }
        }
        button {
            background-color: $mainWhiteColor;
            color: black;
            font-size: 2vw;
            padding: 13.5px 2.44vw;
            border-radius: 2vw;
            width: fit-content;
            cursor: pointer;
        }
        button:hover {
            color: $mainRedColor;
            border-color: $mainWhiteColor;
        }
    }
}

.title {
    text-align: center;
    color: $mainWhiteColor;
    font-size: 4.5vw;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}

.decor {
    z-index: 1;
    img {
        overflow-x: hidden;
    }
    position: absolute;
}

.allDesign {
    justify-content: center;
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        gap: 3vw;
        img {
            max-height: 40vw;
            max-width: 90vw;
        }
        .card {
            color: $mainWhiteColor;
            max-height: 40vw;
            max-width: 90vw;
            position: relative;
            cursor: pointer;
            .image-box {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s ease-in-out;
                }
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border: 2px solid white;
                border-radius: 0.5vw;
                opacity: 0;
                transition: 0.4s ease-in-out;
            }
            &:hover img {
                filter: grayscale(1) brightness(0.4) blur(0.1vw);
            }
            &:hover::after {
                opacity: 1;
                inset: 2.5vw;
            }
            .content {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                h2,
                p {
                    opacity: 0;
                    transition: 0.4s 0.2s ease;
                }
                h2 {
                    margin-bottom: 1vw;
                    scale: 0.7;
                }
                p {
                    font-size: 1vw;
                    line-height: 1.5;
                    transform: translateY(50%);
                }
            }
            &:hover .content h2 {
                scale: 1;
                opacity: 1;
            }
            &:hover .content p {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    p {
        color: $mainWhiteColor;
        font-size: 3vw;
        text-align: center;
        margin: 3vw;
        flex: none;
    }
    .myLogo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        img {
            max-height: 13vw;
            max-width: 13vw;
        }
    }
    .memLogobook {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        margin: 1vw;
        img {
            max-height: 40vw;
            max-width: 30vw;
        }
    }
}

.returnButton {
    background-color: inherit;
    color: $mainRedColor;
    font-size: 2vw;
    font-weight: bold;
    padding: 13.5px 2.44vw;
    border-radius: 32px;
    border: 0.26vw solid $mainRedColor;
    width: fit-content;
    margin: 1vw;
    cursor: pointer;
}

.returnButton:hover {
    color: $mainWhiteColor;
    border-color: $mainWhiteColor;
}

@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .rectangle {
        display: none;
    }
    .circle {
        display: none;
    }
    .mainPage {
        width: 100%;
        .myName {
            font-size: 7vw;
        }
        .whoAmI {
            flex-direction: column;
            a {
                font-size: 13vw;
            }
            img {
                width: 70vw;
            }
            .designer {
                color: transparent;
                -webkit-text-stroke: 3px $mainRedColor;
            }
        }
    }
    .title {
        font-size: 3vh;
    }
    .top-line {
        li {
            a {
                font-size: 5vw;
            }
        }
    }
    .aboutMe {
        width: 100%;
        text-align: center;
        gap: 2vw;
        .section {
            flex-direction: column;
            gap: 5vw;
        }
        p {
            font-size: 5vw;
            width: auto;
        }
        .square-with-text {
            width: 30vw;
            height: 30vw;
            justify-content: center;
            p {
                font-size: 5vw;
            }
        }
    }
    .experience {
        width: 100%;
        img {
            width: 50vw;
        }
    }
    .devSkills {
        width: 100%;
        .skills {
            p {
                font-size: 5vw;
            }
            .line1 {
                flex-wrap: wrap;
                .first {
                    flex-basis: 100%;
                    border-bottom: 0.26vw solid $mainWhiteColor;
                }
                .second {
                    flex-basis: 50%;
                    border-left: none;
                }
                .third {
                    flex-basis: 50%;
                }
            }
            .line2 {
                .second {
                    border-right: none;
                }
                .third {
                    display: none;
                }
            }
            .line4 {
                .third {
                    display: none;
                }
            }
        }
    }
    .devProjects {
        width: 100%;
        .card {
            width: 90vw;
            max-width: 90%;
            .text-container {
                p {
                    font-size: 5vw;
                }
            }
        }
    }
    .designerSkills {
        width: 100%;
        .skills {
            p {
                font-size: 5vw;
            }
            .line1 {
                .first {
                    flex-basis: 100%;
                }
                .second {
                    display: none;
                }
                .third {
                    display: none;
                }
            }
            .line2 {
                .second {
                    border-right: none;
                }
                .third {
                    display: none;
                }
            }
            .line3 {
                .first {
                    display: none;
                }
                .second {
                    display: none;
                }
                .third {
                    flex-basis: 100%;
                }
            }
        }
    }
    .designerProjects {
        width: 100%;
        flex-wrap: wrap;
        img {
            width: 80vw;
        }
        .column {
            img {
                width: 90vw;
            }
            button {
                font-size: 5vw;
            }
        }
    }
    .contactMe {
        width: 100%;
        flex-direction: column;
        text-align: center;
        .contacts {
            .titletext {
                font-size: 10vw;
            }
            .subtitle {
                font-size: 5vw;
                width: auto;
            }
            .type {
                font-size: 6vw;
                img {
                    width: 5vw;
                }
            }
        }
        .leaveMessage {
            padding: 0 5vw 0 5vw;
            justify-content: center;
            .titletext {
                font-size: 10vw;
            }
            form {
                .input-field {
                    font-size: 5vw;
                    border: 1vw solid $mainWhiteColor;
                    border-radius: 3vw;
                    padding: 2vw;
                }
            }
            button {
                font-size: 5vw;
                border-radius: 4vw;
            }
        }
    }
    .returnButton {
        font-size: 5vw;
        border: 1vw solid $mainRedColor;
        padding: 1.5vw;
    }
    .scrollToTop {
        width: 15vw;
        height: 15vw;
    }
    .allDesign {
        .images {
            img {
                max-height: none;
            }
            .card {
                max-height: none;
                .content {
                    h2 {
                        font-size: 10vw;
                    }
                    p {
                        font-size: 4vw;
                    }
                }
            }
        }
        .memLogobook {
            img {
                max-height: none;
                max-width: 90vw;
            }
        }
        p {
            font-size: 5vw;
        }
        .myLogo {
            flex-wrap: wrap;
            img {
                max-height: none;
                max-width: 70vw;
            }
        }
    }
}