@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.ttf") format("truetype");
}
body {
  position: relative;
  font-family: "Montserrat";
  max-width: 100%;
  overflow-x: hidden;
}

.mainBlackBg {
  background-color: #19142A;
}

.mainRedBg {
  background-color: #ff4242;
}

.mainRedText {
  color: #ff4242;
}

.mainPurpleBg {
  background-color: #2A2344;
}

.top-line .mainRedBg {
  border-radius: 10px;
}
.top-line li a {
  font-weight: bold;
  font-size: 1.3dvw;
  cursor: pointer;
}
.top-line .nav {
  margin-right: 5%;
}
.top-line .offcanvas-body .mainRedBg {
  width: fit-content;
}

.mainPage {
  position: relative;
  display: flex;
  flex-direction: column;
}
.mainPage .mainRedBg {
  background-color: rgba(255, 66, 66, 0.2);
  border-radius: 21px;
}
.mainPage .myName {
  color: #ffffff;
  width: fit-content;
  font-size: 2.5dvw;
  font-weight: bold;
  padding: 0 1% 0 1%;
  margin-left: 5%;
}
.mainPage .whoAmI {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainPage .whoAmI p {
  color: #ff4242;
  font-weight: bold;
  font-size: 5dvw;
  text-align: center;
}
.mainPage .whoAmI img {
  width: 30%;
}
.mainPage .whoAmI .designer {
  color: transparent;
  -webkit-text-stroke: 3px #ff4242;
}

.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutMe .section {
  display: flex;
  flex-direction: row;
  gap: 25dvw;
  align-items: center;
  margin-bottom: 2dvw;
}
.aboutMe p {
  font-size: 2dvw;
  color: #ffffff;
  width: 42dvw;
}
.aboutMe .square-with-text {
  width: 11dvw;
  height: 11dvw;
  border-radius: 20px;
  background-color: #ff4242;
  display: flex;
  text-align: center;
  align-items: center;
}
.aboutMe .square-with-text p {
  color: #ffffff;
  font-size: 1.5dvw;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin: 0;
}

.experience {
  position: relative;
  margin: 0;
}
.experience .job {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devSkills {
  position: relative;
  padding-bottom: 10dvw;
}
.devSkills .skills {
  display: flex;
  flex-direction: column;
}
.devSkills .skills p {
  text-align: center;
  color: #ffffff;
  font-size: 3dvw;
  margin: 0;
}
.devSkills .skills .line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26dvw solid #ffffff;
  border-bottom: 0.26dvw solid #ffffff;
}
.devSkills .skills .line1 .first {
  flex-basis: 20%;
}
.devSkills .skills .line1 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 50%;
}
.devSkills .skills .line1 .third {
  flex-basis: 30%;
}
.devSkills .skills .line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.devSkills .skills .line2 .first {
  flex-basis: 40%;
}
.devSkills .skills .line2 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 50%;
}
.devSkills .skills .line2 .third {
  flex-basis: 10%;
}
.devSkills .skills .line3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26dvw solid #ffffff;
  border-bottom: 0.26dvw solid #ffffff;
}
.devSkills .skills .line3 .first {
  flex-basis: 30%;
}
.devSkills .skills .line3 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 20%;
}
.devSkills .skills .line3 .third {
  flex-basis: 50%;
}
.devSkills .skills .line4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.26dvw solid #ffffff;
}
.devSkills .skills .line4 .first {
  flex-basis: 50%;
}
.devSkills .skills .line4 .third {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 50%;
  border-right: none;
}

.devProjects {
  position: relative;
  padding-bottom: 10dvw;
}
.devProjects .card {
  width: 41dvw;
  border: 0.26dvw solid #ffffff;
  border-radius: 0;
  background-color: inherit;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.devProjects .card .image-container {
  position: relative;
}
.devProjects .card .image-container img {
  width: 100%;
  height: auto;
}
.devProjects .card .text-container {
  border-top: 0.26dvw solid #ffffff;
}
.devProjects .card .text-container p {
  color: #ffffff;
  margin: 0;
  font-size: 1.56dvw;
}
.devProjects .card .text-container .tools {
  font-weight: lighter;
}

.designerSkills {
  position: relative;
  padding-bottom: 10dvw;
}
.designerSkills .skills {
  display: flex;
  flex-direction: column;
}
.designerSkills .skills p {
  text-align: center;
  color: #ffffff;
  font-size: 3dvw;
  margin: 0;
}
.designerSkills .skills .line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26dvw solid #ffffff;
  border-bottom: 0.26dvw solid #ffffff;
}
.designerSkills .skills .line1 .first {
  flex-basis: 30%;
}
.designerSkills .skills .line1 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 30%;
}
.designerSkills .skills .line1 .third {
  flex-basis: 40%;
}
.designerSkills .skills .line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.designerSkills .skills .line2 .first {
  flex-basis: 40%;
}
.designerSkills .skills .line2 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 40%;
}
.designerSkills .skills .line2 .third {
  flex-basis: 20%;
}
.designerSkills .skills .line3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26dvw solid #ffffff;
  border-bottom: 0.26dvw solid #ffffff;
}
.designerSkills .skills .line3 .first {
  flex-basis: 20%;
}
.designerSkills .skills .line3 .second {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 40%;
}
.designerSkills .skills .line3 .third {
  flex-basis: 40%;
}
.designerSkills .skills .line4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.26dvw solid #ffffff;
}
.designerSkills .skills .line4 .first {
  flex-basis: 50%;
}
.designerSkills .skills .line4 .third {
  flex-basis: 0;
  border-left: 0.26dvw solid #ffffff;
  border-right: 0.26dvw solid #ffffff;
  flex-basis: 50%;
  border-right: none;
}

.designerProjects {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  gap: 2dvw;
  padding-bottom: 5dvw;
}
.designerProjects img {
  width: 20dvw;
  max-width: 100%;
}
.designerProjects .column {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  gap: 4.5dvw;
}
.designerProjects .column img {
  width: 40dvw;
  max-width: 90%;
}
.designerProjects .column button {
  background-color: inherit;
  color: #ff4242;
  font-size: 2dvw;
  font-weight: bold;
  padding: 13.5px 47px;
  border-radius: 32px;
  border: 7px solid #ff4242;
  width: fit-content;
  cursor: pointer;
}
.designerProjects .column button:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.contactMe {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: center;
  margin: 0;
  gap: 5dvw;
  padding-top: 7dvw;
  padding-bottom: 2dvw;
}
.contactMe .contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.5dvw;
}
.contactMe .contacts .titletext {
  font-size: 4.15dvw;
  font-weight: bold;
}
.contactMe .contacts .subtitle {
  color: #ADADAD;
  width: 27dvw;
}
.contactMe .contacts .type {
  display: flex;
  flex-direction: column;
}
.contactMe .contacts .type a {
  font-weight: lighter;
  margin-bottom: 3dvw;
  color: #ffffff;
  text-decoration: none;
}
.contactMe .contacts .type img {
  width: 3.48dvw;
  margin-right: 1dvw;
}
.contactMe .leaveMessage .titletext {
  font-size: 4.15dvw;
  font-weight: bold;
}
.contactMe .leaveMessage form {
  display: flex;
  flex-direction: column;
  gap: 2dvw;
}
.contactMe .leaveMessage form .input-field {
  background-color: inherit;
  color: #ffffff;
  border: 0.26dvw solid #ffffff;
  border-radius: 1dvw;
  font-size: 1.5dvw;
  padding: 0.5dvw;
}
.contactMe .leaveMessage button {
  background-color: #ffffff;
  color: black;
  font-size: 2dvw;
  padding: 13.5px 2.44dvw;
  border-radius: 2dvw;
  width: fit-content;
  cursor: pointer;
}
.contactMe .leaveMessage button:hover {
  color: #ff4242;
  border-color: #ffffff;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 4.5dvw;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

.decor {
  z-index: 1;
  position: absolute;
}
.decor img {
  overflow-x: hidden;
}

.allDesign .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 3dvw;
}
.allDesign .images img {
  max-height: 40dvw;
  max-width: 90dvw;
}
.allDesign p {
  color: #ffffff;
  font-size: 3dvw;
  text-align: center;
  margin: 3dvw;
  flex: none;
}
.allDesign .memLogobook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1dvw;
  justify-content: center;
  margin: 1dvw;
}
.allDesign .memLogobook img {
  max-height: 40dvw;
  max-width: 30dvw;
}
.allDesign .myLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1dvw;
  justify-content: center;
  margin: 1dvw;
}
.allDesign .myLogo img {
  max-height: 13dvw;
  max-width: 13dvw;
}

.returnButton {
  background-color: inherit;
  color: #ff4242;
  font-size: 2dvw;
  font-weight: bold;
  padding: 13.5px 2.44dvw;
  border-radius: 32px;
  border: 0.26dvw solid #ff4242;
  width: fit-content;
  margin: 2dvw;
  cursor: pointer;
}
.returnButton :hover {
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .rectangle {
    display: none;
  }
  .circle {
    display: none;
  }
  .mainPage .myName {
    font-size: 7dvw;
  }
  .mainPage .whoAmI {
    flex-direction: column;
  }
  .mainPage .whoAmI p {
    font-size: 13dvw;
  }
  .mainPage .whoAmI img {
    width: 70dvw;
  }
  .mainPage .whoAmI .designer {
    color: transparent;
    -webkit-text-stroke: 3px #ff4242;
  }
  .title {
    font-size: 3dvh;
  }
  .top-line li a {
    font-size: 5dvw;
  }
  .aboutMe {
    text-align: center;
    gap: 2dvh;
  }
  .aboutMe .section {
    flex-direction: column;
    gap: 5dvh;
  }
  .aboutMe p {
    font-size: 4dvh;
    width: auto;
  }
  .aboutMe .square-with-text {
    width: 20dvh;
    height: 20dvh;
    justify-content: center;
  }
  .aboutMe .square-with-text p {
    font-size: 3.5dvh;
  }
  .experience img {
    width: 25dvh;
  }
  .devSkills .skills p {
    font-size: 3dvh;
  }
  .devSkills .skills .line1 {
    flex-wrap: wrap;
  }
  .devSkills .skills .line1 .first {
    flex-basis: 100%;
    border-bottom: 0.26dvw solid #ffffff;
  }
  .devSkills .skills .line1 .second {
    flex-basis: 50%;
    border-left: none;
  }
  .devSkills .skills .line1 .third {
    flex-basis: 50%;
  }
  .devSkills .skills .line2 .second {
    border-right: none;
  }
  .devSkills .skills .line2 .third {
    display: none;
  }
  .devSkills .skills .line4 .third {
    display: none;
  }
  .devProjects .card {
    width: 70dvh;
    max-width: 90%;
  }
  .devProjects .card .text-container p {
    font-size: 2dvh;
  }
  .designerSkills .skills p {
    font-size: 3dvh;
  }
  .designerSkills .skills .line1 .first {
    flex-basis: 100%;
  }
  .designerSkills .skills .line1 .second {
    display: none;
  }
  .designerSkills .skills .line1 .third {
    display: none;
  }
  .designerSkills .skills .line2 .second {
    border-right: none;
  }
  .designerSkills .skills .line2 .third {
    display: none;
  }
  .designerSkills .skills .line3 .first {
    display: none;
  }
  .designerSkills .skills .line3 .second {
    display: none;
  }
  .designerSkills .skills .line3 .third {
    flex-basis: 100%;
  }
  .designerProjects {
    flex-wrap: wrap;
  }
  .designerProjects img {
    width: 40dvh;
  }
  .designerProjects .column img {
    width: 80dvh;
  }
  .designerProjects .column button {
    font-size: 3dvh;
  }
  .contactMe {
    flex-direction: column;
    text-align: center;
  }
  .contactMe .contacts .titletext {
    font-size: 5dvh;
  }
  .contactMe .contacts .subtitle {
    font-size: 2dvh;
    width: auto;
  }
  .contactMe .contacts .type {
    font-size: 3dvh;
  }
  .contactMe .contacts .type img {
    width: 3dvh;
  }
  .contactMe .leaveMessage {
    padding: 5dvh;
    justify-content: center;
  }
  .contactMe .leaveMessage .titletext {
    font-size: 5dvh;
  }
  .contactMe .leaveMessage form .input-field {
    font-size: 4dvh;
    border: 0.5dvh solid #ffffff;
    border-radius: 3dvh;
    padding: 2dvw;
  }
  .contactMe .leaveMessage button {
    font-size: 2dvh;
    border-radius: 2dvw;
  }
  .returnButton {
    font-size: 1dvh;
  }
}

/*# sourceMappingURL=output.css.map */
