@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.ttf") format("truetype");
}
body {
  position: relative;
  font-family: "Montserrat";
  max-width: 100%;
  overflow-x: hidden;
}

.scrollToTop {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 2;
  background-color: #ff4242;
  color: #ffffff;
  border-radius: 50%;
  border: 0.26vw solid #ffffff;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scrollToTop:hover {
  background-color: #19142A;
}
.scrollToTop:hover svg {
  stroke: #ff4242;
}

.mainBlackBg {
  background-color: #19142A;
}

.mainRedBg {
  background-color: #ff4242;
}

.mainRedText {
  color: #ff4242;
}

.mainPurpleBg {
  background-color: #2A2344;
}

.top-line .mainRedBg {
  border-radius: 10px;
}
.top-line li a {
  font-weight: bold;
  font-size: 1.3vw;
  cursor: pointer;
}
.top-line .nav {
  margin-right: 5%;
}
.top-line .offcanvas-body .mainRedBg {
  width: fit-content;
}

.mainPage {
  position: relative;
  display: flex;
  flex-direction: column;
}
.mainPage .mainRedBg {
  background-color: rgba(255, 66, 66, 0.2);
  border-radius: 21px;
}
.mainPage .myName {
  color: #ffffff;
  width: fit-content;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 0 1% 0 1%;
  margin-left: 5%;
}
.mainPage .whoAmI {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainPage .whoAmI a {
  color: #ff4242;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.1vw;
  cursor: pointer;
}
.mainPage .whoAmI a:hover {
  color: #ffffff;
}
.mainPage .whoAmI img {
  width: 30%;
}
.mainPage .whoAmI .designer {
  color: transparent;
  -webkit-text-stroke: 3px #ff4242;
}
.mainPage .whoAmI .designer:hover {
  color: #ffffff;
  -webkit-text-stroke: 3px #ffffff;
}

.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutMe .section {
  display: flex;
  flex-direction: row;
  gap: 25vw;
  align-items: center;
  margin-bottom: 2vw;
}
.aboutMe p {
  font-size: 2vw;
  color: #ffffff;
  width: 42vw;
}
.aboutMe .square-with-text {
  width: 11vw;
  height: 11vw;
  border-radius: 20px;
  background-color: #ff4242;
  display: flex;
  text-align: center;
  align-items: center;
}
.aboutMe .square-with-text p {
  color: #ffffff;
  font-size: 1.5vw;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  margin: 0;
}

.experience {
  position: relative;
  margin: 0;
}
.experience .job {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devSkills {
  position: relative;
  padding-bottom: 10vw;
}
.devSkills .skills {
  display: flex;
  flex-direction: column;
}
.devSkills .skills p {
  text-align: center;
  color: #ffffff;
  font-size: 3vw;
  margin: 0;
}
.devSkills .skills .line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26vw solid #ffffff;
  border-bottom: 0.26vw solid #ffffff;
}
.devSkills .skills .line1 .first {
  flex-basis: 20%;
}
.devSkills .skills .line1 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 50%;
}
.devSkills .skills .line1 .third {
  flex-basis: 30%;
}
.devSkills .skills .line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.devSkills .skills .line2 .first {
  flex-basis: 40%;
}
.devSkills .skills .line2 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 50%;
}
.devSkills .skills .line2 .third {
  flex-basis: 10%;
}
.devSkills .skills .line3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26vw solid #ffffff;
  border-bottom: 0.26vw solid #ffffff;
}
.devSkills .skills .line3 .first {
  flex-basis: 30%;
}
.devSkills .skills .line3 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 20%;
}
.devSkills .skills .line3 .third {
  flex-basis: 50%;
}
.devSkills .skills .line4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.26vw solid #ffffff;
}
.devSkills .skills .line4 .first {
  flex-basis: 50%;
}
.devSkills .skills .line4 .third {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 50%;
  border-right: none;
}

.devProjects {
  position: relative;
  padding-bottom: 10vw;
}
.devProjects .card {
  width: 41vw;
  border: 0.26vw solid #ffffff;
  border-radius: 0;
  background-color: inherit;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.devProjects .card .image-container {
  position: relative;
}
.devProjects .card .image-container img {
  width: 100%;
  height: auto;
}
.devProjects .card .text-container {
  border-top: 0.26vw solid #ffffff;
}
.devProjects .card .text-container p {
  color: #ffffff;
  margin: 0;
  font-size: 1.56vw;
}
.devProjects .card .text-container .tools {
  font-weight: lighter;
}

.designerSkills {
  position: relative;
  padding-bottom: 10vw;
}
.designerSkills .skills {
  display: flex;
  flex-direction: column;
}
.designerSkills .skills p {
  text-align: center;
  color: #ffffff;
  font-size: 3vw;
  margin: 0;
}
.designerSkills .skills .line1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26vw solid #ffffff;
  border-bottom: 0.26vw solid #ffffff;
}
.designerSkills .skills .line1 .first {
  flex-basis: 30%;
}
.designerSkills .skills .line1 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 30%;
}
.designerSkills .skills .line1 .third {
  flex-basis: 40%;
}
.designerSkills .skills .line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.designerSkills .skills .line2 .first {
  flex-basis: 40%;
}
.designerSkills .skills .line2 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 40%;
}
.designerSkills .skills .line2 .third {
  flex-basis: 20%;
}
.designerSkills .skills .line3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.26vw solid #ffffff;
  border-bottom: 0.26vw solid #ffffff;
}
.designerSkills .skills .line3 .first {
  flex-basis: 20%;
}
.designerSkills .skills .line3 .second {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 40%;
}
.designerSkills .skills .line3 .third {
  flex-basis: 40%;
}
.designerSkills .skills .line4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.26vw solid #ffffff;
}
.designerSkills .skills .line4 .first {
  flex-basis: 50%;
}
.designerSkills .skills .line4 .third {
  flex-basis: 0;
  border-left: 0.26vw solid #ffffff;
  border-right: 0.26vw solid #ffffff;
  flex-basis: 50%;
  border-right: none;
}

.designerProjects {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  gap: 2vw;
  padding-bottom: 5vw;
}
.designerProjects img {
  width: 20vw;
  max-width: 100%;
}
.designerProjects .column {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  gap: 4.5vw;
}
.designerProjects .column img {
  width: 40vw;
  max-width: 90%;
}
.designerProjects .column button {
  background-color: inherit;
  color: #ff4242;
  font-size: 2vw;
  font-weight: bold;
  padding: 13.5px 47px;
  border-radius: 32px;
  border: 7px solid #ff4242;
  width: fit-content;
  cursor: pointer;
}
.designerProjects .column button:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.contactMe {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: center;
  margin: 0;
  gap: 5vw;
  padding-top: 7vw;
  padding-bottom: 2vw;
}
.contactMe .contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
}
.contactMe .contacts .titletext {
  font-size: 4.15vw;
  font-weight: bold;
}
.contactMe .contacts .subtitle {
  color: #ADADAD;
  width: 27vw;
}
.contactMe .contacts .type {
  display: flex;
  flex-direction: column;
}
.contactMe .contacts .type a {
  font-weight: lighter;
  margin-bottom: 3vw;
  color: #ffffff;
  text-decoration: none;
}
.contactMe .contacts .type img {
  width: 3.48vw;
  margin-right: 1vw;
}
.contactMe .leaveMessage .titletext {
  font-size: 4.15vw;
  font-weight: bold;
}
.contactMe .leaveMessage form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.contactMe .leaveMessage form .input-field {
  background-color: inherit;
  color: #ffffff;
  border: 0.26vw solid #ffffff;
  border-radius: 1vw;
  font-size: 1.5vw;
  padding: 0.5vw;
}
.contactMe .leaveMessage button {
  background-color: #ffffff;
  color: black;
  font-size: 2vw;
  padding: 13.5px 2.44vw;
  border-radius: 2vw;
  width: fit-content;
  cursor: pointer;
}
.contactMe .leaveMessage button:hover {
  color: #ff4242;
  border-color: #ffffff;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 4.5vw;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

.decor {
  z-index: 1;
  position: absolute;
}
.decor img {
  overflow-x: hidden;
}

.allDesign .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 3vw;
}
.allDesign .images img {
  max-height: 40vw;
  max-width: 90vw;
}
.allDesign p {
  color: #ffffff;
  font-size: 3vw;
  text-align: center;
  margin: 3vw;
  flex: none;
}
.allDesign .memLogobook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  margin: 1vw;
}
.allDesign .memLogobook img {
  max-height: 40vw;
  max-width: 30vw;
}
.allDesign .myLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1vw;
  justify-content: center;
  margin: 1vw;
}
.allDesign .myLogo img {
  max-height: 13vw;
  max-width: 13vw;
}

.returnButton {
  background-color: inherit;
  color: #ff4242;
  font-size: 2vw;
  font-weight: bold;
  padding: 13.5px 2.44vw;
  border-radius: 32px;
  border: 0.26vw solid #ff4242;
  width: fit-content;
  margin: 1vw;
  cursor: pointer;
}

.returnButton:hover {
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .rectangle {
    display: none;
  }
  .circle {
    display: none;
  }
  .mainPage {
    width: 100%;
  }
  .mainPage .myName {
    font-size: 7vw;
  }
  .mainPage .whoAmI {
    flex-direction: column;
  }
  .mainPage .whoAmI p {
    font-size: 13vw;
  }
  .mainPage .whoAmI img {
    width: 70vw;
  }
  .mainPage .whoAmI .designer {
    color: transparent;
    -webkit-text-stroke: 3px #ff4242;
  }
  .title {
    font-size: 3vh;
  }
  .top-line li a {
    font-size: 5vw;
  }
  .aboutMe {
    width: 100%;
    text-align: center;
    gap: 2vw;
  }
  .aboutMe .section {
    flex-direction: column;
    gap: 5vw;
  }
  .aboutMe p {
    font-size: 5vw;
    width: auto;
  }
  .aboutMe .square-with-text {
    width: 30vw;
    height: 30vw;
    justify-content: center;
  }
  .aboutMe .square-with-text p {
    font-size: 5vw;
  }
  .experience {
    width: 100%;
  }
  .experience img {
    width: 50vw;
  }
  .devSkills {
    width: 100%;
  }
  .devSkills .skills p {
    font-size: 5vw;
  }
  .devSkills .skills .line1 {
    flex-wrap: wrap;
  }
  .devSkills .skills .line1 .first {
    flex-basis: 100%;
    border-bottom: 0.26vw solid #ffffff;
  }
  .devSkills .skills .line1 .second {
    flex-basis: 50%;
    border-left: none;
  }
  .devSkills .skills .line1 .third {
    flex-basis: 50%;
  }
  .devSkills .skills .line2 .second {
    border-right: none;
  }
  .devSkills .skills .line2 .third {
    display: none;
  }
  .devSkills .skills .line4 .third {
    display: none;
  }
  .devProjects {
    width: 100%;
  }
  .devProjects .card {
    width: 90vw;
    max-width: 90%;
  }
  .devProjects .card .text-container p {
    font-size: 5vw;
  }
  .designerSkills {
    width: 100%;
  }
  .designerSkills .skills p {
    font-size: 5vw;
  }
  .designerSkills .skills .line1 .first {
    flex-basis: 100%;
  }
  .designerSkills .skills .line1 .second {
    display: none;
  }
  .designerSkills .skills .line1 .third {
    display: none;
  }
  .designerSkills .skills .line2 .second {
    border-right: none;
  }
  .designerSkills .skills .line2 .third {
    display: none;
  }
  .designerSkills .skills .line3 .first {
    display: none;
  }
  .designerSkills .skills .line3 .second {
    display: none;
  }
  .designerSkills .skills .line3 .third {
    flex-basis: 100%;
  }
  .designerProjects {
    width: 100%;
    flex-wrap: wrap;
  }
  .designerProjects img {
    width: 80vw;
  }
  .designerProjects .column img {
    width: 90vw;
  }
  .designerProjects .column button {
    font-size: 5vw;
  }
  .contactMe {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contactMe .contacts .titletext {
    font-size: 10vw;
  }
  .contactMe .contacts .subtitle {
    font-size: 5vw;
    width: auto;
  }
  .contactMe .contacts .type {
    font-size: 6vw;
  }
  .contactMe .contacts .type img {
    width: 5vw;
  }
  .contactMe .leaveMessage {
    padding: 0 5vw 0 5vw;
    justify-content: center;
  }
  .contactMe .leaveMessage .titletext {
    font-size: 10vw;
  }
  .contactMe .leaveMessage form .input-field {
    font-size: 5vw;
    border: 1vw solid #ffffff;
    border-radius: 3vw;
    padding: 2vw;
  }
  .contactMe .leaveMessage button {
    font-size: 5vw;
    border-radius: 4vw;
  }
  .returnButton {
    font-size: 5vw;
    border: 1vw solid #ff4242;
    padding: 1.5vw;
  }
}

/*# sourceMappingURL=output.css.map */
