@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('ttf')
}

$mainBlackColor:#19142A;
$mainRedColor: #ff4242;
$mainPurpleColor: #2A2344;
$mainWhiteColor: #ffffff;
body {
    position: relative;
    font-family: Montserrat;
    max-width: 100%;
    overflow-x: hidden;
}

.mainBlackBg {
    background-color: $mainBlackColor;
}

.mainRedBg {
    background-color: $mainRedColor;
}

.mainRedText {
    color: $mainRedColor;
}

.mainPurpleBg {
    background-color: $mainPurpleColor
}

.top-line {
    .mainRedBg {
        border-radius: 10px;
    }
    li {
        a {
            font-weight: bold;
            font-size: 1.3dvw;
            cursor: pointer;
        }
    }
    .nav {
        margin-right: 5%;
    }
    .offcanvas-body {
        .mainRedBg {
            width: fit-content;
        }
    }
}

.mainPage {
    position: relative;
    display: flex;
    flex-direction: column;
    .mainRedBg {
        background-color: rgba(255, 66, 66, 0.2);
        border-radius: 21px;
    }
    .myName {
        color: $mainWhiteColor;
        width: fit-content;
        font-size: 2.5dvw;
        font-weight: bold;
        padding: 0 1% 0 1%;
        margin-left: 5%;
    }
    .whoAmI {
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p {
            color: $mainRedColor;
            font-weight: bold;
            font-size: 5dvw;
            text-align: center;
        }
        img {
            width: 30%;
        }
        .designer {
            color: transparent;
            -webkit-text-stroke: 3px $mainRedColor;
        }
    }
}

.aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section {
        display: flex;
        flex-direction: row;
        gap: 25dvw;
        align-items: center;
        margin-bottom: 2dvw;
    }
    p {
        font-size: 2dvw;
        color: $mainWhiteColor;
        width: 42dvw;
    }
    .square-with-text {
        width: 11dvw;
        height: 11dvw;
        border-radius: 20px;
        background-color: $mainRedColor;
        display: flex;
        text-align: center;
        align-items: center;
        p {
            color: $mainWhiteColor;
            font-size: 1.5dvw;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            margin: 0;
        }
    }
}

.experience {
    position: relative;
    margin: 0;
    .job {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin line-styles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin block-styles {
    flex-basis: 0;
    border-left: 0.26dvw solid $mainWhiteColor;
    border-right: 0.26dvw solid $mainWhiteColor;
}

.devSkills {
    position: relative;
    padding-bottom: 10dvw;
    .skills {
        p {
            text-align: center;
            color: $mainWhiteColor;
            font-size: 3dvw;
            margin: 0;
        }
        display: flex;
        flex-direction: column;
        @mixin line($border-top: false,
        $border-bottom: false) {
            @include line-styles;
            @if $border-top {
                border-top: 0.26dvw solid $mainWhiteColor;
            }
            @if $border-bottom {
                border-bottom: 0.26dvw solid $mainWhiteColor;
            }
        }
        @mixin block {
            @include block-styles;
        }
        .line1 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 20%;
            }
            .second {
                @include block;
                flex-basis: 50%;
            }
            .third {
                flex-basis: 30%;
            }
        }
        .line2 {
            @include line;
            .first {
                flex-basis: 40%;
            }
            .second {
                @include block;
                flex-basis: 50%;
            }
            .third {
                flex-basis: 10%;
            }
        }
        .line3 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 30%;
            }
            .second {
                @include block;
                flex-basis: 20%;
            }
            .third {
                flex-basis: 50%;
            }
        }
        .line4 {
            @include line($border-bottom: true);
            .first {
                flex-basis: 50%;
            }
            .third {
                @include block;
                flex-basis: 50%;
                border-right: none;
            }
        }
    }
}

.devProjects {
    position: relative;
    padding-bottom: 10dvw;
    .card {
        width: 41dvw;
        border: 0.26dvw solid $mainWhiteColor;
        border-radius: 0;
        background-color: inherit;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        .image-container {
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
        }
        .text-container {
            border-top: 0.26dvw solid $mainWhiteColor;
            p {
                color: $mainWhiteColor;
                margin: 0;
                font-size: 1.56dvw;
            }
            .tools {
                font-weight: lighter;
            }
        }
    }
}

.designerSkills {
    position: relative;
    padding-bottom: 10dvw;
    .skills {
        p {
            text-align: center;
            color: $mainWhiteColor;
            font-size: 3dvw;
            margin: 0;
        }
        display: flex;
        flex-direction: column;
        @mixin line($border-top: false,
        $border-bottom: false) {
            @include line-styles;
            @if $border-top {
                border-top: 0.26dvw solid $mainWhiteColor;
            }
            @if $border-bottom {
                border-bottom: 0.26dvw solid $mainWhiteColor;
            }
        }
        @mixin block {
            @include block-styles;
        }
        .line1 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 30%;
            }
            .second {
                @include block;
                flex-basis: 30%;
            }
            .third {
                flex-basis: 40%;
            }
        }
        .line2 {
            @include line;
            .first {
                flex-basis: 40%;
            }
            .second {
                @include block;
                flex-basis: 40%;
            }
            .third {
                flex-basis: 20%;
            }
        }
        .line3 {
            @include line($border-top: true, $border-bottom: true);
            .first {
                flex-basis: 20%;
            }
            .second {
                @include block;
                flex-basis: 40%;
            }
            .third {
                flex-basis: 40%;
            }
        }
        .line4 {
            @include line($border-bottom: true);
            .first {
                flex-basis: 50%;
            }
            .third {
                @include block;
                flex-basis: 50%;
                border-right: none;
            }
        }
    }
}

.returnButton {
    background-color: inherit;
    color: $mainRedColor;
    font-size: 2dvw;
    font-weight: bold;
    padding: 13.5px 47px;
    border-radius: 32px;
    border: 7px solid $mainRedColor;
    width: fit-content;
    margin: 2dvw;
    cursor: pointer;
     :hover {
        color: $mainWhiteColor;
        border-color: $mainWhiteColor;
    }
}

.designerProjects {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 2dvw;
    padding-bottom: 5dvw;
    img {
        width: 20dvw;
        max-width: 100%;
    }
    .column {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 4.5dvw;
        img {
            width: 40dvw;
            max-width: 90%;
        }
        button {
            background-color: inherit;
            color: $mainRedColor;
            font-size: 2dvw;
            font-weight: bold;
            padding: 13.5px 47px;
            border-radius: 32px;
            border: 7px solid $mainRedColor;
            width: fit-content;
            cursor: pointer;
        }
        button:hover {
            color: $mainWhiteColor;
            border-color: $mainWhiteColor;
        }
    }
}

.contactMe {
    position: relative;
    display: flex;
    flex-direction: row;
    color: $mainWhiteColor;
    justify-content: center;
    margin: 0;
    gap: 10dvw;
    padding-top: 7dvw;
    padding-bottom: 2dvw;
    .contacts {
        display: flex;
        flex-direction: column;
        font-size: 1.5dvw;
        .titletext {
            font-size: 4.15dvw;
            font-weight: bold;
        }
        .subtitle {
            color: #ADADAD;
            width: 27dvw;
        }
        .type {
            p {
                font-weight: lighter;
                margin-bottom: 3dvw;
            }
            img {
                width: 3.48dvw;
                margin-right: 1dvw;
            }
        }
    }
    .leaveMessage {
        display: flex;
        flex-direction: column;
        gap: 2dvw;
        .titletext {
            font-size: 4.15dvw;
            font-weight: bold;
        }
        .information {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2dvw;
            width: 40dvw;
            .input-field {
                flex-basis: 45%;
                background-color: inherit;
                color: $mainWhiteColor;
                border: 0.26dvw solid $mainWhiteColor;
                border-radius: 1dvw;
                font-size: 1.5dvw;
            }
            .message {
                background-color: inherit;
                color: $mainWhiteColor;
                border: 0.26dvw solid $mainWhiteColor;
                border-radius: 1dvw;
                font-size: 1.5dvw;
                font-style: italic;
                height: 15dvw;
                overflow-x: hidden;
                text-overflow: ellipsis;
                flex-basis: 95%;
            }
        }
        button {
            background-color: $mainWhiteColor;
            color: black;
            font-size: 2dvw;
            padding: 13.5px 47px;
            border-radius: 2dvw;
            width: fit-content;
            cursor: pointer;
        }
        button:hover {
            color: $mainRedColor;
            border-color: $mainWhiteColor;
        }
    }
}

.title {
    text-align: center;
    color: $mainWhiteColor;
    font-size: 4.5dvw;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}

.decor {
    z-index: 1;
    img {
        overflow-x: hidden;
    }
    position: absolute;
}

.allDesign {
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 3dvw;
        img {
            max-height: 40dvw;
            max-width: 90dvw;
        }
    }
    p {
        color: $mainWhiteColor;
        font-size: 3dvw;
        text-align: center;
        margin: 3dvw;
        flex: none;
    }
    .memLogobook {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1dvw;
        justify-content: center;
        margin: 1dvw;
        img {
            max-height: 40dvw;
            max-width: 30dvw;
        }
    }
    .myLogo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 1dvw;
        justify-content: center;
        margin: 1dvw;
        img {
            max-height: 13dvw;
            max-width: 13dvw;
        }
    }
}

@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .rectangle {
        display: none;
    }
    .circle {
        display: none;
    }
    .mainPage {
        .myName {
            font-size: 7dvw;
        }
        .whoAmI {
            flex-direction: column;
            p {
                font-size: 13dvw;
            }
            img {
                width: 70dvw;
            }
            .designer {
                color: transparent;
                -webkit-text-stroke: 3px $mainRedColor;
            }
        }
    }
    .title {
        font-size: 3dvh;
    }
    .top-line {
        li {
            a {
                font-size: 5dvw;
            }
        }
    }
    .aboutMe {
        text-align: center;
        gap: 2dvh;
        .section {
            flex-direction: column;
            gap: 5dvh;
        }
        p {
            font-size: 4dvh;
            width: auto;
        }
        .square-with-text {
            width: 20dvh;
            height: 20dvh;
            justify-content: center;
            p {
                font-size: 3.5dvh;
            }
        }
    }
    .experience {
        img {
            width: 25dvh;
        }
    }
    .devSkills {
        .skills {
            p {
                font-size: 3dvh;
            }
            .line1 {
                flex-wrap: wrap;
                .first {
                    flex-basis: 100%;
                    border-bottom: 0.26dvw solid $mainWhiteColor;
                }
                .second {
                    flex-basis: 50%;
                    border-left: none;
                }
                .third {
                    flex-basis: 50%;
                }
            }
            .line2 {
                .second {
                    border-right: none;
                }
                .third {
                    display: none;
                }
            }
            .line4 {
                .third {
                    display: none;
                }
            }
        }
    }
    .devProjects {
        .card {
            width: 70dvh;
            max-width: 90%;
            .text-container {
                p {
                    font-size: 2dvh;
                }
            }
        }
    }
    .designerSkills {
        .skills {
            p {
                font-size: 3dvh;
            }
            .line1 {
                .first {
                    flex-basis: 100%;
                }
                .second {
                    display: none;
                }
                .third {
                    display: none;
                }
            }
            .line2 {
                .second {
                    border-right: none;
                }
                .third {
                    display: none;
                }
            }
            .line3 {
                .first {
                    display: none;
                }
                .second {
                    display: none;
                }
                .third {
                    flex-basis: 100%;
                }
            }
        }
    }
    .designerProjects {
        flex-wrap: wrap;
        img {
            width: 40dvh;
        }
        .column {
            img {
                width: 80dvh;
            }
            button {
                font-size: 3dvh;
            }
        }
    }
    .contactMe {
        flex-direction: column;
        text-align: center;
        .contacts {
            .titletext {
                font-size: 5dvh;
            }
            .subtitle {
                font-size: 2dvh;
                width: auto;
            }
            .type {
                font-size: 2dvh;
                img {
                    width: 4dvh;
                }
            }
        }
        .leaveMessage {
            padding: 5dvh;
            .titletext {
                font-size: 5dvh;
            }
            .information {
                flex-direction: column;
                width: 80dvw;
                .input-field {
                    max-width: 200%;
                    font-size: 2dvh;
                }
                .message {
                    font-size: 4dvh;
                    max-width: 100%
                }
            }
            button {
                font-size: 2dvh;
                border-radius: 2dvw;
            }
        }
    }
}