@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('ttf')
}

$mainBlackColor:#19142A;
$mainRedColor: #ff4242;
$mainPurpleColor: #2A2344;
$mainWhiteColor: #ffffff;
body {
    position: relative;
    z-index: 2;
    font-family: Montserrat;
    overflow-x: hidden;
}

.mainBlackBg {
    background-color: $mainBlackColor;
}

.mainRedBg {
    background-color: $mainRedColor;
}

.mainRedText {
    color: $mainRedColor;
}

.mainPurpleBg {
    background-color: $mainPurpleColor
}

.top-line {
    .mainRedBg {
        border-radius: 10px;
    }
    li {
        a {
            font-weight: bold;
            font-size: 1.3dvw;
        }
    }
    .nav {
        margin-right: 5%;
    }
    .offcanvas-body {
        .mainRedBg {
            width: fit-content;
        }
    }
}

.mainPage {
    position: relative;
    display: flex;
    flex-direction: column;
    .mainRedBg {
        background-color: rgba(255, 66, 66, 0.2);
        border-radius: 21px;
    }
    .myName {
        color: $mainWhiteColor;
        width: fit-content;
        font-size: 2.5dvw;
        font-weight: bold;
        padding: 0 1% 0 1%;
        margin-left: 5%;
    }
    .whoAmI {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p {
            color: $mainRedColor;
            font-weight: bold;
            font-size: 5dvw;
            text-align: center;
        }
        img {
            width: 30%;
        }
        .designer {
            color: transparent;
            -webkit-text-stroke: 3px $mainRedColor;
        }
    }
}

.title {
    text-align: center;
    color: $mainWhiteColor;
    font-size: 5dvw;
    font-weight: bold;
    padding-top: 3%;
}

.decor {
    z-index: 0;
    img {
        overflow: hidden;
    }
    position: absolute;
}

@media (max-width:768px) {
    .rectangle {
        display: none;
    }
    .circle {
        display: none;
    }
    .mainPage {
        .myName {
            font-size: 7dvw;
        }
        .whoAmI {
            flex-direction: column;
            p {
                font-size: 13dvw;
            }
            img {
                width: 70dvw;
            }
            .designer {
                color: transparent;
                -webkit-text-stroke: 3px $mainRedColor;
            }
        }
    }
    .top-line {
        li {
            a {
                font-size: 5dvw;
            }
        }
    }
}