.header-text {
    width: 90%;
    max-width: 45vw;
    margin: 0 auto;
    padding: 0 1.25vw;
}

.intro-header {
    background-size: cover;
    background-position: center;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.post-heading h1 {
    font-size: 3vw;
    font-weight: 700;
    margin: 0;
}

.post-heading h2 {
    font-size: 1.5vw;
    margin: 1vw 0;
}

.post-heading .meta {
    font-size: 1vw;
}

.post-heading .meta a {
    color: #00d5ff;
    text-decoration: underline;
}

.post-content {
    margin: 5vw 10vw;
}

.post-content p,
li {
    margin: 1.25vw 0;
    font-size: 1.2vw;
}

.section-heading {
    font-size: 2vw;
    margin-top: 2.5vw;
    border-bottom: 0.17vw solid #333;
    padding-bottom: 0.83vw;
}

blockquote {
    font-style: italic;
    margin: 1.67vw 0;
    /* 20px to vw */
    padding: 0.83vw 1.67vw;
    /* 10px and 20px to vw */
    border-left: 0.42vw solid #333;
    /* 5px to vw */
    background: #f9f9f9;
}

.image-link img {
    width: 100%;
    height: auto;
}

.many-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.mid-image {
    justify-content: center;
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 40vw;
    max-height: 30vw;
    margin: 0 auto;
    border-radius: 20px;
}

.caption {
    display: block;
    margin-top: 0.83vw;
    font-size: 1vw;
    color: #555;
}

a {
    color: #0022ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-text {
        width: 100%;
        max-width: 90%;
        padding: 0 5%;
    }
    .intro-header {
        height: 60vw;
        margin-top: 20vw;
    }
    .post-heading h1 {
        font-size: 7vw;
    }
    .post-heading h2 {
        font-size: 4vw;
    }
    .post-heading .meta {
        font-size: 3.5vw;
    }
    .post-content {
        margin: 10vw 5vw;
    }
    .post-content p,
    li {
        font-size: 5vw;
        margin: 4vw 0;
    }
    .section-heading {
        font-size: 7vw;
        margin-top: 5vw;
        border-bottom: 0.34vw solid #333;
        padding-bottom: 1.67vw;
    }
    blockquote {
        padding: 1.67vw 3.34vw;
        border-left: 0.84vw solid #333;
    }
    .many-images {
        gap: 6vw;
    }
    .img-responsive {
        max-width: 80vw;
        max-height: 60vh;
    }
    .caption {
        font-size: 4vw;
    }
}